.hintText {
    font-size: 16px;
    margin-top: 43px;
    color: #8A91AB;
    z-index: 0;
}

.hintText a {
    font-weight: bold;
    color: #fff;
    text-decoration: underline dashed #fff;
    text-underline-position: under;
}

.hintText a:hover {
    color: #8A91AB;
}

.hintArrow {
    position: relative;
    top: -55px;
    left: -110px;
  }